<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Page for {{ username }}</title>
</head>
<body>
    <!-- we want to display a welcome message and the chat messages like before -->
    <!-- we say welcome in our header like before, then pass in the username variable from our view on run.py -->
    <!-- underneath this we put in the chat_messages variable -->
    <h1>Welcome, {{ username }} </h1>
    {{ chat_messages }}
    
    
    
    
</body>
</html>