<html>
    <head>
        <title>Home Page</title>
    </head>
    
    <body>
        <!-- we now create a form where we want them to input their username -->
        <form method="POST">
            <label for="username"> Username:</label>
        <!-- We'll give it id="username", in case we want to style it later. And the name="username" so that we can refer to it in our run.py file -->
            <input type="text" id="username" name="username">
        <!-- when the button is clicked our form will be posted -->
            <button> Go to chat!</button>
        </form>


    </body>
</html>